{% extends "leagues/_base.html" %}

{% block header %}
    <h1>League: {{ league.name }}</h1>
{% endblock %}

{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-header">Matches</div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        {% for match in matches %}
                            <tr>
                                <td>{{ match.team1 }}</td>
                                <td>{{ match.team1Score }}</td>
                                <td>{{ match.team2Score }}</td>
                                <td>{{ match.team2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col">

    </div>
{% endblock %}